
:root{
    --bg1 :#9b59b6;
    --bg2 :#3498db;
    --text :#26ade4;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
}
a{
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right,var(--bg1),var(--bg2));
}
.form-login {
    width: 300px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    padding:40px 30px
}
.form-login h1 {
    margin-bottom: 40px;
}
.form-text {
    margin-bottom: 40px;
    position: relative;
}
.form-text input {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
    padding-left: 12px;
}
.form-text label {
    position: absolute;
    left:12px;
    bottom: 12px;
    transition: 0.5s;
}
.form-text label.focus {
    transform: translateY(-45px);
}
.form-login button {
    height: 35px;
    width: 100%;
    margin-bottom: 30px;
    background: linear-gradient(to bottom right,var(--bg1),var(--bg2));
    border: none;
    color: #fff;
    border-radius: 5px;
}
